{
  "parser": "babel-eslint",
  "extends": ["prettier", "prettier/react"],
  "plugins": ["react", "emotion", "prettier", "import"],
  "rules": {
    "camelcase": "off",
    "curly": ["error", "all"],
    "no-irregular-whitespace": "off",
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }]
  },
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "config/webpack.dev.js"
      }
    }
  },
  "env": {
    "browser": true,
    "jest": true,
    "node": true
  }
}
